.vscode
.env*
pyrightconfig.json

__pycache__
*.log
*.arrow
*.json
*.pyc
*.pyo
*.smiles
!package.json
!package-lock.json
!.eslintrc.json
!.prettierrc.json
!molcrawl-web/frontend/public/manifest.json
!molcrawl-web/src/i18n/locales/*.json
!src/compounds/dataset/prepare_gpt2_organix13.py

wandb
download_dir
extracted_dir
zinc15_download_dir
*.parquet
*.csv
*.csv.gz

build
*.egg-info

*.pt
runs*
out/*
/dataset/*
!src/compounds/dataset/prepare_gpt2_organix13.py
/dataset/
!src/
!src/compounds/
!src/compounds/dataset/
!src/compounds/dataset/prepare_gpt2_organix13.py
miniconda*/
reports
reports/*
outputs/
outputs/*
logs
logs/*
temp
temp/*
gpt2-output*/
learning_source*/
experiments_data/
experiments_data

experiments.db
experiments.db-journal
*.db-journal

configs/omim_real_data.yaml
configs/cache.yaml